:root {
  /* setting color scheme for site */
  --dark: #222831;
  --gray: #393e46;
  --contrast: #00c3d1;
  --light: #eeeeee;

  /* border settings */
  --radius: 10px;

  /* general color of items */
  background: var(--dark);
  color: var(--contrast);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--light);
  margin: 5px;
}

.listStyleNone {
  list-style-type: none;
}

/* About Me page */

#about p {
  text-indent: 2em;
}

#about .intro {
  /* min-height for img float */
  min-height: 200px;
  margin-bottom: 1rem;
}

/* Portfolio Page */
#portfolio ol {
  padding-left: 0;
}

/* Resume Section */
#resume ul {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;

  gap: 1rem;
}

#resume .proficiency-icon {
  width: 100px;
  height: 100px;
}

#resume li p {
  margin: 1rem 0 0 0;

  max-width: 100px;
  text-align: center;
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 1024px) {
}

@media all and (max-width: 768px) {
  #portfolio .project-preview {
    width: 408px;
    height: 197px;
  }
}

@media all and (max-width: 480px) {
  * {
    padding: 0 !important;
  }
  ul {
    padding: 0;
  }
  .container {
    --bs-gutter-x: 0;
  }
  .p-5 {
    padding: 1rem !important;
  }
  #portfolio .project-preview {
    width: 293px;
    height: 141.453px;
  }
  footer.m-5 {
    margin: 10px 0 !important;
  }
  footer img {
    width: 30px;
  }
}
