:root {
  /* setting color scheme for site */
  --dark: #222831;
  --gray: #393e46;
  --contrast: #00adb5;
  --light: #eeeeee;

  /* border settings */
  --radius: 10px;

  /* general color of items */
  background: var(--dark);
  color: var(--contrast);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--light);
  margin: 5px;
}

.listStyleNone {
  list-style-type: none;
}

/* header styling */
header {
  background: var(--contrast);
  border-radius: var(--radius);
}

header a {
  color: var(--light);
}

header a:hover {
  color: var(--dark);
}

header li .active {
  color: var(--gray);
}

.bg-gray {
  background-color: var(--gray);
  border-radius: var(--radius);
}

.application {
  margin: 5px;
}

#about p {
  text-indent: 2em;
}

#about h3 + i {
  opacity: 0.6;
  margin: auto 0;
}

#portfolio img {
  transition: transform 0.5s;
  border: 1px solid var(--contrast);
}

#portfolio img:hover {
  transform: scale(1.05);
}
