:root {
  /* setting color scheme for site */
  --dark: #222831;
  --gray: #393e46;
  --contrast: #00adb5;
  --light: #eeeeee;

  /* border settings */
  --radius: 10px;

  /* general color of items */
  background: var(--dark);
  color: var(--contrast);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--light);
  margin: 5px;
}

.listStyleNone {
  list-style-type: none;
}

/* header styling */
header {
  background: var(--contrast);
  border-radius: var(--radius);
}

header a {
  color: var(--light);
}

header a:hover {
  color: var(--dark);
}

header li .active {
  color: var(--gray);
}

.bg-gray {
  background-color: var(--gray);
  border-radius: var(--radius);
}

.application {
  margin: 5px;
}

/* About Me page */

#about p {
  text-indent: 2em;
}

#about h3 + i {
  opacity: 0.6;
  margin: auto 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: none;
  border: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* starting ENTER animation */
.fade-enter {
  position: absolute;
  top: 0;
  opacity: 0.01;
}

/* ending ENTER animation */
.fade-enter-active {
  opacity: 1;
  transition: all 1000ms ease-in-out;
}

/* starting EXIT animation */
.fade-exit {
  opacity: 1;
}

/* ending EXIT animation */
.fade-exit-active {
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

/* Portfolio Page */
#portfolio li {
  position: relative;
}

#portfolio .project-preview {
  transition: transform 0.5s;
  border: 1px solid var(--contrast);
}

#portfolio .project-preview:hover {
  transform: scale(1.05);
}

#portfolio .tech {
  /* position bottom middle of img */
  position: absolute;
  left: 50%;
  bottom: 0%;

  transition: all 0.5s;
  transform: translate(-50%);
}

#portfolio .tech.hidden {
  /* sets hidden and starting position for transform */
  z-index: -1;
  left: 0%;
  bottom: 0%;
  transform: translate(0%, 0%);
}

#portfolio .tech img {
  max-height: 60px;
}
